#default filename
F:soundtracks.list

#include common building blocks
N:common_imdb.cfg

#skip suspended lines
#"#Nofilter" (2014) {{SUSPENDED}}			Comedy
S:0
I:0
P:<SUSPENDED>

E<QV>:(?<qv>\(qv\))

E<ANAME>:\'(?<author>[^\']+?)\'

#(aka Brandon Moore)
E<ALIAS3>:aka\s\'(?<alias>[^\']+?)\'

E<PERSON1>:<ANAME>(\s<QV>)?(\s<ALIAS1>?)
E<PERSON2>:<ANAME>(\s<QV>)?(\s<ALIAS2>?)
E<PERSON3>:<ANAME>(\s<QV>)?(\s<ALIAS3>?)


#####################################################
#sequence for series
S:1:series	

I:1
#series title
## "#Hashtag: The Series"
P:^#\s<SERIES>

I:2
#year for series (YYYY)
#(2011)
P:\(<YEAR>\)

#year for series unknown
#(????)
P:\(<YEARUNK>\)

#year + sequence for series
#(2011/II)
P:\(<YEARSEQ>\)

#year for series unknown but sequence added
#(????/II)
P:\(<YEARUNKSEQ>\)

I:3
#episode title, complete version
#{#TextCourage (#2.4)}
P:\{<EPISODETITLE>\s+(\(<SEASONEPISODE>\))\}

#just the episode info
#{(#1.4)}
P:\{\(<SEASONEPISODE>\)\}

#just the episode date
#{(1936-11-30)}
P:\{<EPISODEDATE>\}

#just the episode title
#{MiniLinden}
P:\{<EPISODETITLE>\}

##########################################################
#sequence for movies variations                                                       
S:2:movies

I:1
## (Mi) historia argentina (2010)
#movie title + year (normal)
P:^# <MOVIE>\s\(<YEAR>\)\s

#Once (2015/III)
#movie title, year + sequence
P:^# <MOVIE>\s\(<YEARSEQ>\)\s

#movie title, unknown year
#My Happy Ending (????)
P:^# <MOVIE>\s\(<YEARUNK>\)\s

#movie title, unknown year but sequence added
#Orbit (????/II)
P:^# <MOVIE>\s\(<YEARUNKSEQ>\)\s

##########################################################
#sequence for song title
S:3:song title
I:1
P:^\-\s\"(?<song>.*)\"

##########################################################
#sequence for written by
S:4:written by
I:1
P:^\s*Written by\s

I:2
R:<PERSON>

#sequence for written and performed by
S:5:written and performed by
I:1
P:^\s*Written and Performed by\:\s

I:2
R:<PERSON1>\,\s
R:<PERSON2>\,\s
R:<PERSON3>\,\s